.container {
  margin:20px 60px 20px 60px;
  max-width: 1000px;
  display: flexbox;
  min-width:300px;
  margin-inline-start: 29%;
  margin-inline-end:29%;

}


/* .mybutton{
  background-color: black;
  color: white;
} */
